@page "/Creator"

<!DOCTYPE html>
<html>
    <head>
        <title>하이</title>
    </head>
    <body>
            <h1>StarRang</h1>
    @{
        var message = "Welcome";
    }
    <h2>@message</h2>
    </body>
</html>
